/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
}




/* Navbar */
.navbar {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.nav-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 25px;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.menu-icon {
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}




/* Hero Section */
.hero {
  text-align: center;
  padding: 50px 20px;
}

.dashboard-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  max-height: 45vh;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  background-color: #387ed1;
  color: #fff;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background-color: #2a65b9;
}




/* Trust Section */
.trust-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  gap: 40px;
}

.trust-text {
  flex: 1;
  max-width: 600px;
  font-weight: 100;
}

.trust-text h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.trust-text h3 {
  margin-top: 24px;
  font-size: 26px;
}

.trust-text p {
  font-size: 20px;
  color: #555;
  margin-top: 8px;
  line-height: 1.6;
}

.trust-text a {
  color: #2962ff;
  text-decoration: none;
  font-weight: 500;
}

.trust-visual {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.trust-visual img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.trust-visual-btn {
  margin: 50px;
  padding: 12px 20px;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
}

.trust-visual-btn a {
  display: block;
  color: #2962ff;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.5s ease;
}
.trust-visual-btn a:hover {
    transform: scale(1.2);
}

/* News section */
.news-section {
  max-width: 1200px;
  margin: -15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  /* border: 2px solid red; */
  flex: 1;
}

#press-logo {
  max-width: 100%;
}

/* Price section */
.price-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  gap: 40px;
}

.price-text {
  flex: 1;
  max-width: 600px;
}

.price-text h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.price-img {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}












/* Mobile Responsive */

@media (max-width: 768px) {
  /* Header Section */
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
  }

  /* Hero Section */
  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  .cta-button {
    font-size: 16px;
    padding: 12px 24px;
  }

  /* Trust Section */
  .trust-section {
    flex-direction: column;
    text-align: left;
  }

  .trust-text {
    max-width: 100%;
  }

  .trust-visual {
    margin-top: 30px;
  }
}

@media (max-width: 405px) {
  .trust-visual-btn {
    flex-direction: column;
  }
}
